@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(70, 70, 70);
  --secondary-color: rgb(64, 84, 178);
  --gray: rgb(245, 245, 245);
}

* {
  direction: rtl;
}

html {
  overflow-x: hidden;
}

input:focus {
  outline: none !important;
}

textarea:focus {
  outline: none !important;
}

li {
  list-style: none;
}